<style>
    [uib-typeahead-popup].dropdown-menu {
        overflow: auto;
        max-height: 300px;
    }

    svg:hover {
        cursor: pointer;
        fill: #0070D2 !important;
    }

    .select-field-modal-content{
        height:400px;
    }
</style>
<div class="slds slds-modal slds-modal_large slds-fade-in-open">
    <div class="slds-modal__container">
        <div class="slds-modal__header">
            <button class="slds-button slds-modal__close slds-button_icon-inverse" title="Close" ng-click="cancel()">
              <svg aria-hidden="true" class="slds-button__icon slds-button__icon_large">
                  <use xlink:href="" ng-href="{{res.NGD_SLDS}}/assets/icons/action-sprite/svg/symbols.svg#close"></use>
              </svg>
        <span class="slds-assistive-text">Close</span>
      </button>
            <div class="slds-text-heading_medium">Select a field</div>
        </div>
        <div class="slds-modal__content slds-p-around_medium select-field-modal-content">
            <input style="display:none" />
            <div class="slds-grid">
                <div dz-select-field-type-ahead hc="hc" class="slds-size_1-of-5"></div>
            </div>
        </div>
        <div class="slds-modal__footer">
            <button class="slds-button slds-button_neutral" ng-click="cancel()">Cancel</button>
            <button class="slds-button slds-button_brand" ng-disabled="!hc.fieldSelected" ng-click="save()">Save</button>
        </div>
    </div>
</div>
<div class="slds-backdrop slds-backdrop_open"></div>
