/**********Fix for css conflicts Starts************/

@media (min-width: 1600px) {
	.slds-large-size_5-of-12 {
		width: 33.3333333333%;
	}
	.slds-large-size_7-of-12 {
		width: 66.6666666667%;
	}
}

.slds-table {
	border-left: 0;
	border-right: 0;
	border: none;
	border-top: 1px solid #d8dde6;
}

.slds-table th {
	color: #54698d;
	background-color: #FFFFFF;
	border: 0;
	text-align: left;
}

.slds-table td {
	border-left: 0;
	border-right: 0;
	color: #16325c;
}

.slds-modal__header h2 {
	color: #16325c;
}

.slds-form-element__label span {
	color: inherit;
}

/**********Fix for css conflicts Ends************/

.grid-stack-item-content {
	background: #EEF1F6;
	cursor: pointer;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 10px;
	color: #16325c;
}

.grid-stack-item-content-border {
	box-shadow: none;
}

.widget-delete a {
	display: inline-block;
	opacity: .8;
	color: black;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1);
	transition: all 200ms ease-in;
	transform: scale(1);
}

.widget-delete a:hover {
	opacity: .8;
	color: black;
	-webkit-transition: all 200ms ease-in;
	-webkit-transform: scale(1.7);
	-ms-transition: all 200ms ease-in;
	-ms-transform: scale(1.7);
	-moz-transition: all 200ms ease-in;
	-moz-transform: scale(1.7);
}

.widget-number {
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .8;
	color: #16325c;
}
