<div>
    <style>
        .nav-responsive ul li {
            margin-left: 1.7em;
            margin-bottom: 0.5em;
        }
    </style>
    <nav class="slds nav-responsive dz-checklist">
        <span class="slds-form-element__label slds-text-heading--medium checklist-title"></span>
        <ul ng-repeat="category in checklist" class="dz-checklist-ul fa-ul">
            <li ng-repeat="item in category" class="dz-checklist-li">
                <i class="fa-li fa fa-check-square-o fa-lg" ng-if="item.EnrollmentrxRx__Document_Status__c=='Received' || item.EnrollmentrxRx__Document_Status__c=='Waived'||item.EnrollmentrxRx__Document_Status__c=='Not Required' || item.EnrollmentrxRx__Document_Status__c=='Approved'"></i>
                <i class="fa-li fa fa-square-o fa-lg" style="padding-right: 3px;" ng-if="!(item.EnrollmentrxRx__Document_Status__c=='Received' || item.EnrollmentrxRx__Document_Status__c=='Waived'||item.EnrollmentrxRx__Document_Status__c=='Not Required' || item.EnrollmentrxRx__Document_Status__c=='Approved')"
                />
                <!--<i class="fa fa-check-square-o fa-lg" ng-if="item.EnrollmentrxRx__Portal_Flag__c===true"></i>
                <i class="fa fa-square-o fa-lg" style="padding-right: 3px;" ng-if="item.EnrollmentrxRx__Portal_Flag__c!==true" />-->
                <span ng-if="!item.EnrollmentrxRx__Form_URL__c&&!item.EnrollmentrxRx__Allow_Upload__c">
                    {{item.EnrollmentrxRx__Portal_Name__c}}
                </span>
                <span ng-if="item.EnrollmentrxRx__Form_URL__c">
                    <a ng-href="//{{item.EnrollmentrxRx__Form_URL__c}}" target="_blank">
                        {{item.EnrollmentrxRx__Portal_Name__c}}
                    </a>
                </span>
                <span ng-if="!item.EnrollmentrxRx__Form_URL__c&&item.EnrollmentrxRx__Allow_Upload__c">
                    <a ng-href="{{res.namespacePrefix}}Homepage_Upload?Id={{item.Id}}&name={{item.EnrollmentrxRx__Portal_Name__c}}" target="_parent">
                        {{item.EnrollmentrxRx__Portal_Name__c}}
                    </a>
                </span>
                <div style="font-size:70%;font-style: italic;">{{item.EnrollmentrxRx__Portal_Comments__c}}</div>
            </li>
        </ul>
    </nav>
</div>
