<div ng-class="{ 'slds-has-error' : currentField.$invalid && (currentField.$dirty || currentForm.$submitted)}">
    <label class="slds-checkbox">
        <input type="checkbox" ng-model="ngModel" ng-model-options="{ allowInvalid: true }" ng-required="ngRequired" ng-init="ngInit()" ng-click="ngClick()" ng-change="setFieldDirty(currentField);ngChange()" ng-disabled="ngDisabled">
        <span class="slds-checkbox__label">
            <span class="slds-checkbox--faux"></span>
            <span class="slds-form-element__label" ng-show="label">
                <span>{{label}}</span>
            </span>
            <span class="slds-form-element__label" ng-show="!label">
                <span ng-transclude></span>
            </span>
        </span >
    </label >

    <div ng-messages="currentField.$error" ng-if="currentField.$invalid &&(currentField.$dirty||currentForm.$submitted)" class="slds-form-element__help">
        <div ng-messages-include="{{NGD_Utilities}}/template/MessageTemplate.html"></div>
    </div>
</div>
